@font-face {
    font-family: 'GangOFThree';
    src: url('./fonts/go3.ttf');
}

@font-face {
    font-family: 'Roboto-T';
    src: url('./fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto-L';
    src: url('./fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-M';
    src: url('./fonts/Roboto-Medium.ttf');
}

:root {
    /* Colors */
    --text: #130d0d;
    --background: #faf2f0;
    --primary: #DB3022;
    --secondary: #e8877e;
    --accent: #f26154;

    /* Shades */
    --text-600: #795353;
    --primary-600: #b0281c;
    --secondary-200: #f0aea8;
    --accent-600: #be1d0e;

    --background-50: #f9eeec;
    --background-100: #f2ded9;
    --background-200: #e6bdb3;
    --background-300: #d99c8c;
    --background-400: #cc7a66;
    --background-500: #bf5940;
    --background-600: #994733;
    --background-700: #733626;
    --background-800: #4d2419;
    --background-900: #26120d;
    --background-950: #130906;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: var(--background);
    font-family: 'Roboto-L', sans-serif;
    color: var(--text);
    scroll-behavior: smooth;
}

.content {
    min-height: 100dvh;
    flex-direction: column;
    display: flex;
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background);
    box-shadow: 0px 2px 5px var(--primary);
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;

    .logo-container {
        display: flex;
        align-items: center;
        cursor: pointer;

        & img {
            width: 4rem;
        }

        & h1 {
            font-family: 'GangOfThree', sans-serif;
            font-size: 2.5rem;
            font-weight: 500;

            & span {
                color: var(--primary-600);
            }
        }
    }
}

ul {
    display: flex;
    gap: 1rem;
}

li {
    list-style-type: none;

    & button {
        outline: none;
        border: none;
        background-color: transparent;
        padding: 1rem 4rem;
        font-family: 'GangOfThree', sans-serif;
        font-weight: 300;
        font-size: 1.25rem;
        cursor: pointer;
    }

}

button:hover,
.active {
    color: var(--accent-600);
}

button::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--accent);
    display: block;
    transition: .2s ease;
}

button:hover::after,
.active::after {
    width: 100%;
}

/* Main */
/* = Home = */
#home {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    #landingPage,
    #feedback {
        min-height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem 15%;
    }
}

/* == Landing Page == */
#landingPage {
    position: relative;
    /* background: url(../dist/images/landingbg.jpeg); 
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: bottom center;
    background-size: 100%;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(250, 242, 240, 0.6);
        backdrop-filter: blur(.5rem);
    } */

    .landingPageContent {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;

        .bamboo {
            position: absolute;
            opacity: .4;
            z-index: -5;
            transform: scaleX(-1);
            rotate: -26deg;
            height: 100dvh;
            right: -25rem;
            top: -2rem;
            filter: brightness(0.9) invert(.6) sepia(.7) hue-rotate(310deg) saturate(250%);
        }

        .left-side {
            flex: 1 1 18rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            & h2 {
                font-size: 4.5rem;
                font-family: 'GangOfThree', sans-serif;
                font-weight: 500;
                color: var(--primary);
                -webkit-text-stroke: 2px black;

                & span {
                    color: var(--accent);
                }
            }

            & p {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }
        }

        .right-side {
            flex: 1 1 20rem;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 90%;
                filter: drop-shadow(5px 5px 10px var(--text));
                animation: float 5s forwards infinite;
            }
        }
    }
}

/* == About Us == */
#about {
    min-height: 50dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 15%;
    z-index: 2;

    .aboutContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;


        .left-side {
            flex: 1 1 15rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .brush {
                position: absolute;
                z-index: -5;
                left: 1%;
                top: 4.5%;
                height: 100%;
                width: 100%;
                opacity: .8;
            }

            & img:not(.brush) {
                width: 100%;
                filter: drop-shadow(5px 5px 10px var(--accent));
                animation: float 5s forwards infinite;
            }
        }

        .right-side {
            flex: 1 1 25rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            & h2 {
                font-family: 'GangOfThree', sans-serif;
                font-weight: 500;
                color: var(--primary);
                font-size: 1.5rem;
                -webkit-text-stroke: 1px var(--secondary);
            }

            & h3 {
                font-family: 'Roboto-M', sans-serif;
                font-weight: 400;
                font-size: 2.5rem;
                font-style: italic;
            }

            & p {
                text-align: justify;
                font-size: 1.25rem;
            }
        }
    }
}

#feedback {
    flex-direction: column;
    gap: 5rem;
    position: relative;
    /* background: url(../dist/images/restaurant.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    background-position: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 101%;
        background-color: rgba(3, 3, 3, 0.6);
        backdrop-filter: blur(.5rem);
    } */

    .title {
        z-index: 2;
    }

    .feedbackContent {
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;

        .sakura {
            position: absolute;
            z-index: -5;
            opacity: .5;
            filter: brightness(0.6) invert(.1) sepia(.9) hue-rotate(315deg) saturate(250%);
        }

        .sakura:nth-child(1) {
            transform: scaleX(-1.5);
            top: -85%;
            right: -21%;
        }

        .sakura:nth-child(2) {
            transform: scaleY(-1.5) scaleX(1.5);
            top: 55%;
            left: -23%;
        }

        .testimonial {
            z-index: 2;
            flex: 1 1 20%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 3rem;
            border-radius: 5rem;
            box-shadow: 0 0px 50px var(--accent);
            color: var(--accent-600);
            background-color: var(--background-100);

            & p:nth-child(1) {
                font-weight: 'Roboto M';
                font-size: 1.25rem;
                font-style: italic;
            }

            & p:nth-child(2) {
                font-weight: 'Roboto M';
                font-size: 1.5rem;
                font-weight: bold;
                color: var(--primary-600);
            }
        }

        .testimonial:nth-child(1) {
            border-bottom-left-radius: 0;
        }

        .testimonial:nth-child(3) {
            border-bottom-right-radius: 0;
        }
    }
}

#gallery {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 7rem;
    position: relative;

    .title {
        z-index: 5;
    }

    .galleryContent {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: .5rem;
        width: 100%;

        .gallery-item {
            display: grid;
            place-items: center;
            border: .5rem solid white;
            border-bottom: 4rem solid white;
            box-shadow: 0 5px 20px var(--text);
            overflow: hidden;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            & img:hover {
                scale: 1.1;
                transition: .5s ease;
            }
        }

        :nth-child(n) {
            flex: 1 1 1rem;
            cursor: pointer;
            transition: .5s ease;
        }
    }
}

/* = Menu = */
#menu {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 8rem 10%;
    text-align: center;

    .title {
        text-shadow: 0 5px 10px var(--secondary);
        -webkit-text-stroke: 2px var(--background);
    }

    .menuList {
        flex: 1 1 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        .menu-item {
            height: 25rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 1rem;
            width: 18rem;

            .menu-image {
                display: grid;
                place-content: center;
                width: 100%;
                height: 12rem;
                overflow: hidden;
                box-shadow: 2px 8px 10px var(--text);

                & img {
                    object-fit: cover;
                    width: 100%;
                    cursor: pointer;
                }
            }

            .menu-desc {
                background-color: var(--text);
                color: var(--background);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 1rem;
                gap: 1rem;
                width: 100%;
                height: 45%;
                box-shadow: 2px 5px 10px var(--text);

                & h3:nth-child(1) {
                    font-size: 1.25rem;
                    font-family: 'GangOfThree', sans-serif;
                    font-weight: 500;
                    margin-top: 1rem;
                }

                & p:nth-child(2) {
                    color: var(--background);
                    position: absolute;
                    z-index: 50;
                    width: 18rem;
                    height: 12rem;
                    display: grid;
                    place-content: center;
                    margin-top: -13rem;
                    padding: 2rem;
                    cursor: pointer;
                    transition: .3s ease;
                    opacity: 0;
                    font-family: 'Roboto-L';
                    font-size: 1.25rem;
                    font-weight: 600;
                    transition: .5s ease;
                }

                & p:nth-child(2):hover {
                    background-color: rgba(219, 48, 34, .7);
                    opacity: 1;
                    font-size: 1.25rem;
                    transition: .3s ease;
                }

                & p:nth-child(3) {
                    font-size: 1.5rem;
                }

                & a {
                    position: absolute;
                    margin-top: 8rem;
                    border-radius: 0rem;
                    text-transform: uppercase;
                }

                .order-btn {
                    background-color: var(--accent-600);
                    border: 1px solid var(--accent-600);
                }

                .order-btn:hover {
                    background-color: var(--background);
                    color: var(--accent-600);
                }
            }

            .menu-desc:hover {
                & p:nth-child(2) {
                    background-color: rgba(219, 48, 34, .7);
                    opacity: 1;
                    font-size: 1.25rem;
                    transition: .3s ease;
                }
            }
        }
    }
}

/* = Contect = */
#contact {
    min-height: 50dvh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 8rem 10% 4rem;
    text-align: center;

    .title {
        text-shadow: 0 5px 10px var(--secondary);
        -webkit-text-stroke: 2px var(--background);
    }

    .contactDetail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;

        .contactInfo {
            flex: 1 1 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            padding: 2rem 1rem;
            border-radius: 1rem;
            background: linear-gradient(to top, var(--accent) 10%, var(--text) 100%);
            color: var(--text);
            font-family: 'Roboto-M';

            & h3 {
                font-size: 1.5rem;
                color: var(--secondary-200);
                text-shadow: 0px -2px 20px var(--background);
                text-transform: uppercase;
            }

            & h4 {
                font-family: 'GangOfThree', sans-serif;
                font-weight: 500;
                font-size: 1.25rem;
                color: var(--background);
                text-shadow: 1px 2px 2px var(--text);
                text-transform: capitalize;
                font-style: italic;
            }

            & p,
            tr {
                font-size: 1.25rem;
                color: var(--background);
            }

            .contactPerson {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                & h4 {
                    margin-bottom: .5rem;
                }
            }

            .information {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                & th,
                td {
                    padding: .25rem 1rem;
                }

                & table tbody tr td:nth-child(1) {
                    text-align: left;
                }

                & table tbody tr td:nth-child(2) {
                    text-align: right;
                }
            }
        }

        .contactForm {
            flex: 1 1 70%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            padding: 2rem;
            text-align: left;
            border-radius: 1rem;
            box-shadow: 0 5px 15px var(--accent);

            & h3 {
                grid-column: 1/3;
                text-transform: uppercase;
                font-size: 1.5rem;
                font-family: 'Roboto-M';
                color: var(--primary-600);
            }

            .formInput {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                & label {
                    font-family: 'Roboto-M', sans-serif;
                }

                & input,
                textarea {
                    padding: .5rem;
                    outline: none;
                    border: 1px solid var(--accent);
                    font-size: 1rem;
                    font-family: 'Roboto-L', sans-serif;
                    resize: none;
                }

                & textarea {
                    height: 5rem;
                }
            }

            .formInput:nth-child(4) {
                grid-column: 1/3;
            }

            & button {
                grid-column: 1/3;
                padding: 1rem 3rem;
                justify-self: end;

                background-color: var(--accent);
                color: var(--background);
                border-radius: 2rem;
                border: 2px solid var(--accent);
                cursor: pointer;
                transition: .3s ease;
                font-size: 1rem;
                font-weight: 600;
            }

            & button:hover {
                background-color: var(--background);
                color: var(--accent);
                transform: .2s ease;
                border: 2px solid var(--accent);
                transition: .3s ease;
            }
        }
    }
}

/* Reuse */
.order-btn {
    display: flex;
    justify-content: center;
    background-color: var(--accent);
    color: var(--background);
    width: 10rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid var(--accent);
    text-decoration: none;
    font-family: 'Roboto-M';
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease;
}

.order-btn:hover {
    background-color: var(--background);
    color: var(--accent);
    transform: .2s ease;
    border: 2px solid var(--accent);
    transition: .3s ease;
}

.title {
    font-size: 4.5rem;
    font-family: 'GangOfThree', sans-serif;
    font-weight: 500;
    text-align: center;
    color: var(--primary);
    position: relative;
    -webkit-text-stroke: 2px var(--text);
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--text);
    color: var(--background);
    font-size: 1.25rem;
    font-family: 'Roboto-M', sans-serif;
    margin-top: auto;
    box-shadow: 0 0 2px var(--background);

    & a {
        color: var(--background);
        text-decoration: none;
    }
}

/* Keyframes */
@keyframes float {

    0%,
    100% {
        transform: translateY(3rem);
    }

    50% {
        transform: translateY(0rem);
    }
}

/* Media Queries */
@media screen and (max-width: 870px) {
    ul {
        gap: 0rem;
    }

    li {
        & button {
            padding: 1rem 2rem;
        }
    }

    #home #landingPage {
        padding-top: 6rem;
        padding-bottom: 3rem;
        background-size: 250%;

        .landingPageContent {
            gap: 1rem;

            .left-side {
                align-items: center;

                & h2,
                p {
                    text-align: center;
                }

                & p {
                    margin-bottom: 0;
                    font-size: 1.25rem;
                }
            }

            .right-side {
                & img {
                    width: 80%;
                }
            }
        }
    }

    #about {
        padding: 2.5rem 15% 10rem;

        .aboutContent {
            .left-side {
                & img {
                    width: 70%;
                }
            }
        }
    }

    #feedback {
        .feedbackContent {
            .sakura:nth-child(1) {
                transform: scaleX(-1);
                top: -49%;
                right: -38%;
            }

            .sakura:nth-child(2) {
                transform: scaleY(-1) scaleX(1);
                top: 80%;
                left: -38%;
            }
        }
    }

    #gallery {
        gap: 4rem;

        .galleryContent {
            flex-direction: column;
            gap: 1.5rem;

            .gallery-item {
                overflow: visible;
            }
        }
    }
}

@media screen and (max-width: 430px) {
    header {
        flex-direction: column;

        .logo-container {
            justify-content: center;

            & img {
                width: 3.5rem;
            }

            & h1 {
                font-size: 2rem;
            }
        }
    }

    li {
        & button {
            width: 100%;
            font-size: 1rem;
        }
    }

    #home #landingPage {
        background-size: 300%;
        padding-top: 9rem;

        .landingPageContent {
            gap: 1rem;

            .left-side {
                align-items: center;
                text-align: center;

                & h2 {
                    font-size: 3.5rem;
                }

                & p {
                    font-size: 1.25rem;
                    margin-bottom: 0rem;
                }
            }

            .order-btn {
                padding: .8rem;
            }
        }
    }

    #about {
        padding: 2.5rem 15% 7.5rem;

        .aboutContent {
            .left-side {
                .brush {
                    top: 9.5%;
                }
            }

            .right-side {
                width: 100%;
                align-items: center;
                text-align: center;
            }
        }
    }

    #feedback {
        gap: 2.5rem;

        .feedbackContent {
            .sakura:nth-child(1) {
                transform: scaleX(-1);
                top: -29%;
                right: -60%;
            }

            .sakura:nth-child(2) {
                transform: scaleY(-1) scaleX(1);
                top: 86%;
                left: -56%;
            }

            .testimonial {
                gap: 1rem;

                & p:nth-child(1) {
                    font-size: 1rem;
                }

                & p:nth-child(2) {
                    font-size: 1rem;
                }
            }
        }
    }

    #gallery {
        padding: 2rem;

        .galleryContent {
            flex-direction: column;
        }
    }

    #menu,
    #contact {
        padding: 10rem 10% 4rem;
    }

    #contact {
        gap: 2rem;

        .contactDetail {
            .contactForm {
                & h3 {
                    place-self: center;
                }

                .formInput:nth-child(n) {
                    grid-column: 1/3;
                }

                & button {
                    justify-self: center;
                }
            }
        }
    }

    .title {
        font-size: 3.5rem;
    }
}

::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-track {
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--primary), var(--secondary-200));
}